.filter__form{
    width: 200px;
}
.filter__summary{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    cursor: pointer;
}
.filter__label{
    display: flex;
    align-items: center;
    grid-gap: 10px;
    font-size: 15px;
    color: #3F3C38;
}
.filter__span{
     font-weight:600;
}
.filter__title{
    font-weight: 600;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 2px;
    padding-bottom: 8px;
}
.filter__details{
    [open]{
        .filter__openClose{
            transform: rotate(90deg);
        }
    }
}

.active-filters__clear,
.active-filters__remove-filter{
    padding: 6px 12px;
    border-radius: 20px;
    background-color: #767676;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.active-filters__remove-filter{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    grid-gap: 10px;
    background-color: #d7d7d7;
    color: black;
}
.active-filters{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    padding: 0 20px;
}
.filter__summary{
    padding: 10px 0;
}
.filter__details{
    border-bottom: 1px solid #d7d7d7;
}
.filter__details:last-child{
    border-bottom:none;
}
.filter__div--wrapper{
    display: none;
}
.filter__input--wrapper{
    display: none;
}
.filter__list{
    list-style-type: none;
    padding: 0;
}